<%= stylesheet_link_tag	 'show', media: 'all' %>

<div id="post_show" class="row">
  <div class="col-md-6 col-md-offset-1">
	<%= render 'post', post: @post %>
  </div>

  <div class="col-md-4 col-md-offset-right-1" >

  	<div id="comment-box">
  		<div class="heading">
  				<%= render 'comments/comment_form', post: @post %>
  		</div>
  		<div class="body">
			<div class="comments" id="comments_<%= @post.id %>">
			  <p><small><%= @post.comments.size %> comments</small></p>
			  <% if @post.comments %>
			    <%= render @post.comments, post: @post %>
			  <% end %>
			</div>
  		</div>
  	</div>

  </div>
</div>